
* 
{
    padding: 0;
    margin: 0;
}

canvas 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

#screen 
{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    overflow: hidden;
}

#info
{
    font-family: sans-serif;
    font-family: 20px;
    color: black;
    background-color: #ffd687;
    display: block;
    position: fixed;
    top: 8px;
    left: 8px;
}